<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From main.ejs</title>
</head>
<body>

    from views/layouts/main.ejs
    
</body>
</html>