<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum est praesentium unde ipsa nemo culpa ab quod officia. Tempore magni unde debitis ab illo facere officiis aliquam cumque ducimus rem autem quod nobis, delectus, eaque, rerum possimus! Veniam dolore porro nostrum esse accusamus dignissimos. Sint dignissimos fugiat debitis possimus, ipsa quidem. Obcaecati, odio earum nostrum culpa, illo sed possimus totam et deleniti nihil veniam fuga soluta esse aliquam quaerat dignissimos doloremque illum ab laudantium omnis dolores molestiae hic. Illum quas sunt quo perferendis, explicabo similique reiciendis quos assumenda, placeat ipsum ipsa. Corporis accusamus laudantium maxime magnam sed alias, fugiat illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum est praesentium unde ipsa nemo culpa ab quod officia. Tempore magni unde debitis ab illo facere officiis aliquam cumque ducimus rem autem quod nobis, delectus, eaque, rerum possimus! Veniam dolore porro nostrum esse accusamus dignissimos. Sint dignissimos fugiat debitis possimus, ipsa quidem. Obcaecati, odio earum nostrum culpa, illo sed possimus totam et deleniti nihil veniam fuga soluta esse aliquam quaerat dignissimos doloremque illum ab laudantium omnis dolores molestiae hic. Illum quas sunt quo perferendis, explicabo similique reiciendis quos assumenda, placeat ipsum ipsa. Corporis accusamus laudantium maxime magnam sed alias, fugiat illum?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum est praesentium unde ipsa nemo culpa ab quod officia. Tempore magni unde debitis ab illo facere officiis aliquam cumque ducimus rem autem quod nobis, delectus, eaque, rerum possimus! Veniam dolore porro nostrum esse accusamus dignissimos. Sint dignissimos fugiat debitis possimus, ipsa quidem. Obcaecati, odio earum nostrum culpa, illo sed possimus totam et deleniti nihil veniam fuga soluta esse aliquam quaerat dignissimos doloremque illum ab laudantium omnis dolores molestiae hic. Illum quas sunt quo perferendis, explicabo similique reiciendis quos assumenda, placeat ipsum ipsa. Corporis accusamus laudantium maxime magnam sed alias, fugiat illum?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>